html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}

body, table, article {
    font: inherit;
}

blockquote,
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    font-weight: normal;
}

h1 {font-size: 2.6em}
h2 {font-size: 2.0em}
h3 {font-size: 1.6em}
h4 {font-size: 1.4em}
h5 {font-size: 1.2em}
h6 {font-size: 1.0em}

table {
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
}

table thead {
    background-color: grey;
}

table thead th {
    text-align: left;
}

table tbody td {
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
}

table tbody tr:nth-child(odd) td {
    background: rgb(241, 241, 241);
}

blockquote {
    padding-left: 2.5em;
    padding-right: 2.5em;
    /* padding: 0 2.5em; */
    border-left: 2px solid #000;
    margin-bottom: 1.5em;
}

blockquote {
    font-style: italic;
}

blockquote p:last-child {
    padding-bottom: 0;
}

blockquote p.author {
    text-align: right;
}