div {
    display: inline-block;
    padding: 20px;
    border: yellow solid;
    margin: 20px;
    font-family: 'PT Sans', sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}



